body {
  background-color: blanchedalmond;
  font-family:'Palatino', 'Sans-Serif';
  clear: left;
  margin: 20px;
}


h1 {
  font-size: 3em;
font-family: 'Palatino', 'Sans-Serif';
}

p {
  font-size: 1.5em;
  line-height: 2eml;
  color: #333;
}

li {
    font-size: 2em;
    line-height: 2eml;
    color: peru
  }
  

footer {
  border-top: 1px solid #d5d5d5;
  font-size:.8em;
}
